@import url('https://fonts.googleapis.com/css?family=Roboto');

html{   
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1,
h6,
.b {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.card-title {
    font-family: 'Roboto', sans-serif;
}

h1,h2 {
    font-weight: bolder;
    
    color: #ffffff;

}
.conta {
    text-align: center;
}

.title {
    color: #FFF;
    font-weight: bold;
}
html,
body {
    margin: 0;
    
    padding: 0;
}
.gitBtn {
    border-radius: 50px !important;
}

.gitBtn:hover {
    border-radius: 0px !important;
    transition: 1000ms;
    color: white !important;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0) !important;
}
.github-button{
    border-radius: 50px !important;
}
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

p {
    font-size: 16px;
}


.blackText{
    color: #333 !important;
}