@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");
html {
  font-family: "Montserrat", sans-serif !important;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Montserrat", sans-serif !important;
  }
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("static/font.woff2") format("woff2");
}

body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #121212;
}

.btn-large {
  border-radius: 0px;
}

#main_btn:hover {
  transition: all 1s;
  top: 1px;
}

#background_color {
  /*background: #001f3f;*/
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#background {
  background-repeat: no-repeat;
  background-image: url("./img/electricidad.gif");
  background-size: cover;
  opacity: 0.1;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#can {
  position: fixed;
  display: block !important;
  padding: 0px !important;
  margin: 0px !important;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100000;
}

.project:hover {
  transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0.9;
  top: -1px;
}

#control {
  z-index: 10;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.logo {
  color: white;
}

nav {
  border-radius: 2px;
}

h1 {
  z-index: 10;
  font-weight: bolder;
}

.conta {
  text-align: center;
}

.title {
  text-transform: lowercase !important;
  color: #111;
}

html {
  margin: 0;
  padding: 0;
}

.github-button {
  border-radius: 50px !important;
}

.page-footer {
  background: #fff !important;
  color: black !important;
}

.footer-copyright {
  background: black !important;
  color: white !important;
}
